{
{% for url, configs in lti_config.items() %}
  "{{ url }}": [
    {% for config in configs %}
    {
      "default": {{ config.default | tojson }},
      "client_id": "{{ config.client_id }}",
      "auth_login_url": "{{ config.auth_login_url }}",
      "auth_token_url": "{{ config.auth_token_url }}",
      "auth_audience": {{ config.auth_audience | tojson }},
      "key_set_url": "{{ config.key_set_url }}",
      "key_set": {{ config.key_set | tojson }},
      "private_key_file": "{{ config.private_key_file }}",
      "public_key_file": "{{ config.public_key_file }}",
      "deployment_ids": {{ config.deployment_ids | tojson }}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]{% if not loop.last %},{% endif %}
{% endfor %}
}
