# Some task can't be executed in a dev environment, ie, certbot, and we will need
# some additional tasks (open ports, etc.)
development_mode: yes

server_timezone: "Europe/Madrid"

# Change if you have a non-standard ssh port
ssh_port: 22

# In case you have the certificates, you can use them assigning the paths to the following variables
# For production mode only. In development, it uses self-signed certificates
# Paths are relative to nginx role, you can use {{ playbook_dir }} if you want to reference the playbook directory
# nginx:
#   dev.app.correctomatic.org:
#     cert_path: "{{ playbook_dir }}/certs/app/fullchain1.pem"
#     key_path: "{{ playbook_dir }}/certs/app/privkey1.pem"
#   dev.registry.correctomatic.org:
#     cert_path: "{{ playbook_dir }}/certs/registry/fullchain1.pem"
#     key_path: "{{ playbook_dir }}/certs/registry/privkey1.pem"

registry:
  domain: "dev.registry.correctomatic.org"
  data_directory: "/var/registry"
  internal_port: 5000
  max_upload_size: 2G

docker:
  domain: "dev.docker.correctomatic.org"

correctomatic:
  # Shared folder between the API and the correctomatic processes
  shared_folder: /correctomatic/exercises

  # Shared network for the containers
  network: correctomatic

  docker_timeout: 10000

  api:
    image: correctomatic/api
    tag: latest
    log_level: debug

  runner:
    image: correctomatic/runner
    tag: latest
    # minutes
    delete_corrections_older_than: 3
    # Directory with the certs to be copied to the containers
    docker_certs_folder: /etc/docker

  starter:
    log_level: debug

  completer:
    log_level: debug

  notifier:
    log_level: debug
    # In case you need to add some extra hosts for development
    # They won't be added in production
    extra_hosts_dev:
      # host_computer will be added with the IP of the host computer
      notification.host.one: 1.1.1.1
      notification.host.two: 2.2.2.2

  app:
    log_level: debug
    domain: "dev.app.correctomatic.org"
    uploads_dir: "/correctomatic/app/uploads"

    network:
      name: app
      subnet: "172.20.0.0/16"

    internal_port: 8000
    max_upload_size: 10M
    db:
      name: "correctomatic"
      # Be sure that the locale is installed in the system, see roles/postgresql/tasks/main.yml
      encoding: "UTF8"
      lc_collate: "es_ES.UTF-8"
      lc_ctype: "es_ES.UTF-8"
    # TEMP
    repo: "https://github.com/correctomatic/correctomatic-app.git"
    branch: "master"

# You can configure postgresql here, see roles/ansible-role-postgresql/defaults/main.yml for valid options
postgresql:
  version: 16
  # The app network will be added to the listen_addresses
  # listen_addresses: "172.18.0.0/16"

# correctomatic_app_domain: "correctomatic.alvaromaceda.es"
lets_encrypt_email: "alvaro@alvaromaceda.es"
