events {}

http {
    server {
        listen 80;

        location /app1 {
            proxy_pass http://localhost:1111;
        }

        location /app2 {
            proxy_pass http://localhost:2222;
        }
    }
}
