server {
    listen 80;
    server_name {{ registry.domain }};

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name {{ registry.domain }};

    ssl_certificate /etc/letsencrypt/live/{{ registry.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ registry.domain }}/privkey.pem;

    # Maximum file upload size
    client_max_body_size 2G;

    # To add basic authentication to v2 use auth_basic setting.
    auth_basic "Correctomatic registry";
    auth_basic_user_file {{ htpasswd_file}};

    location / {
        proxy_pass http://localhost:{{ docker_registry_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /v2/ {
        proxy_pass http://localhost:{{ docker_registry_port }};
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # These headers are required for Docker to trust the registry
        # certificate and enable client-side certificate validation
        proxy_ssl_verify on;
        proxy_ssl_trusted_certificate /etc/letsencrypt/live/{{ registry.domain }}/fullchain.pem;
        proxy_ssl_session_reuse off;
    }
}
